html,body{
    margin:0px;
    padding:0px;

}
body{
    background-color: rgb(255, 212, 219);
}
nav{
    height: 10%;
    padding:0px;
    margin:0px;
}

ul{
    background-color: lightpink; 
    overflow: hidden;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom:0px; 
}
li{
    float: right;

}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    font-size:15px;
    font-style: normal;
}
li a:hover{
    background-color: rgb(212, 125, 139);
}
li a:focus{
    background-color: rgb(212, 125, 139);;
}
.subtitles{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    color: rgb(157, 81, 94);
    margin:20px;
}
.word{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:25px;
    color: rgb(157, 81, 94);

}
#result{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:25px;
    color: rgb(157, 81, 94)  

} 
.title{
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
    font-size:50px;
    text-align:center;
    margin: 0px;
    color: rgb(157, 81, 94)  
}
.question{
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
    font-size:30px;
    text-align:center;
    margin:10px;
    color: rgb(157, 81, 94)  
}
.quiz{
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:50px;
  text-align:center;
  margin: 0px;
  color: rgb(157, 81, 94) 
}
main {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center; 
}
.question1{
    display:flex;
    flex-direction:row;
}
.question2{
    display:flex;
    flex-direction:row;
}
.question3{
    display:flex;
    flex-direction:row;
}
.question4{
    display:flex;
    flex-direction:row;
}
.question5{
    display:flex;
    flex-direction:row;
}
.question6{
    display:flex;
    flex-direction:row;
}
.answer-choice {
    margin: 1em;
     background-color:lightpink;
     width:25%;
  }
  .answer-choice img {
    width:200px;
    height: 200px;
    margin:0px;
    padding:0px;
  } 

  button { 
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    background-color: lightpink;
    font-family: "Ubuntu Mono", monospace;
    font-size: 30px;
    border-style: none; 
    /* font-family: 'Cookie', cursive; 
    font-size: 30px; 
    border-style: none; */

    /* font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    border-style: none;
    color: rgb(86, 35, 43); */
  }

  button:hover {
    background-color: rgb(212, 125, 139); 
  }

  .squarewindow{
    margin:0px;
    width:20%;
    height:20%;
  }

  .happygirl{
    width:10%;
    height:15%;
    margin:0px;
}

.shyboy{ 
    width: 10%; 
    height: 15%; 
    margin:0px;
}

.one {
    width: 40%; 
    height: 45%;
}

.two {
    width: 40%; 
    height: 45%; 
}

.three {
    width: 50%; 
    height: 55%; 
}

.four {
    width: 65%; 
    height: 70%; 
}

.five {
    width: 60%; 
    height: 65%; 
}

.six { 
    width: 45%; 
    height: 50%; 
}

.seven { 
    width: 50%; 
    height: 55%; 
}

.eight { 
    width: 40%; 
    height: 45%; 
}

.nine { 
    width: 50%; 
    height: 55%; 
}

.ten { 
    width: 75%; 
    height: 80%; 
}

.happy {
    width: 45%; 
    height: 50%; 
}

.sad {
    width: 45%; 
    height: 50%; 
}

.mad {
    width: 45%; 
    height: 50%; 
}

.shy {
    width: 45%; 
    height: 50%; 
}

.excited {
    width: 45%; 
    height: 50%; 
}

.proud {
    width: 55%; 
    height: 60%;
}

.surprised {
    width: 50%; 
    height: 55%; 
}

.tired {
    width: 50%; 
    height: 55%; 
}

.smug {
    width: 50%; 
    height: 55%; 
}

.bored {
    width: 50%; 
    height: 55%; 
}

.red {
    width: 60%; 
    height: 65%; 
}

.blue {
    width: 45%; 
    height: 50%; 
}

.pink {
    width: 65%; 
    height: 70%; 
}

.green {
    width: 60%; 
    height: 65%; 
}

.yellow {
    width: 55%; 
    height: 60%; 
}

.orange {
    width: 50%; 
    height: 55%; 
}

.purple {
    width: 60%; 
    height: 65%; 
}

.black {
    width: 40%; 
    height: 45%; 
}

.brown {
    width: 50%; 
    height: 55%; 
}

.gray {
    width: 70%; 
    height: 75%; 
}

.circle {
    width: 65%; 
    height: 70%; 
}

.square {
    width: 65%; 
    height: 70%; 
}

.rectangle {
    width: 95%; 
    height: 100%; 
}

.triangle {
    width: 95%; 
    height: 100%; 
}

.star {
    width: 70%; 
    height: 75%; 
}
  
.container > div {
    grid-row: 1; 
    border: 1px solid #010101;
    border-radius: 5px;
  }

.card-wrapper {
    width: 25rem;
    height: 200px;
  }
.card-body {
    position: relative;
    width: 90%;
    height: 90%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2),0 5px 15px rgba(0,0,0,0.19);
  }
.card-front, .card-back {
    background-color: #ffffff;
      position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
.card-front p, .card-back p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: large;
    margin: 0px;
  }
.card-back {
    transform: rotateX(180deg);
  }
.card-wrapper:hover .card-body {
    transform: rotateX(180deg);
  }

.bigdiv {
    display: flex; 
    flex-direction: row;
    margin-left:20px
}
