html,body{
    margin:0px;
    padding:0px;

}
body{
    background-color: rgb(219, 244, 215);
}
nav{
    height: 10%;
    padding:0px;
    margin:0px;
}

ul{
    background-color: rgb(113, 154, 129); 
    overflow: hidden;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom:0px; 
}
li{
    float: right;

}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    font-size:15px;
  font-style: normal;
}
li a:hover{
    background-color: rgb(203, 227, 212);
}
li a:focus{
    background-color: rgb(113, 154, 129);;
}
.grade{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:50px;
    text-align:center;
    margin: 0px;
    color: rgb(113, 154, 129);
}
.question{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
      font-size:30px;
      text-align:center;
      margin:10px;
      color: rgb(113, 154, 129);

}
main {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center; 
  }
  .question1{
      display:flex;
      flex-direction:row;
  }
  .question2{
      display:flex;
      flex-direction:row;
  }
  .question3{
      display:flex;
      flex-direction:row;
  }
  .question4{
      display:flex;
      flex-direction:row;
  }
  .question5{
      display:flex;
      flex-direction:row;
  }
  .question6{
      display:flex;
      flex-direction:row;
  }

  .answer-choice {
    margin: 1em;
     background-color:rgb(113, 154, 129);
     width:25%;
  }
  .answer-choice img {
    width:200px;
    height: 200px;
    margin:0px;
    padding:0px;
  }
  .cookie{
  width:15%;
    height:15%;
}
  .word{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:25px;
    color: rgb(113, 154, 129);
  }
  .people{
    width:15%;
    height:15%;
  }
  .ladybug{
    width:15%;
  height:15%;
  }
.mouse{
  width:15%;
  height:15%;
}
.subtitles{
  font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    color: rgb(113, 154, 129);
    margin:20px;
}
  button { 
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    background-color: rgb(113, 154, 129);
    font-family: "Ubuntu Mono", monospace;
    font-size: 30px;
    border-style: none; 
    /* font-family: 'Cookie', cursive;
    font-size: 30px;
    border-style: none;
  } */
  }
    button:hover {
    background-color: rgb(174, 208, 187);
  }

  .bunnies {
    width: 20%; 
    height: 25%; 
  } 

  .teacher {
    width: 40%; 
    height: 45%; 
  }

  .newyork {
    width: 75%; 
    height: 80%; 
  }

  .cupcake {
    width: 70%; 
    height: 75%; 
  }

  .apple {
    width: 75%; 
    height: 80%; 
  }

  .cold {
    width: 70%; 
    height: 75%; 
  }

  .kind {
    width: 70%; 
    height: 75%; 
  }
  
  .loud {
    width: 65%; 
    height: 70%; 
  }

  .short {
    width: 75%; 
    height: 80%; 
  }

  #result{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:25px;
    color: rgb(113, 154, 129); 

} 

.container > div {
    grid-row: 1; 
    border: 1px solid #010101;
    border-radius: 5px;
  }

.card-wrapper {
    width: 25rem;
    height: 200px;
  }
.card-body {
    position: relative;
    width: 90%;
    height: 90%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2),0 5px 15px rgba(0,0,0,0.19);
  }
.card-front, .card-back {
    background-color: #ffffff;
      position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
.card-front p, .card-back p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: large;
    margin: 0px;
  }
.card-back {
    transform: rotateX(180deg);
  }
.card-wrapper:hover .card-body {
    transform: rotateX(180deg);
  }

.bigdiv {
    display: flex; 
    flex-direction: row;
    margin-left:20px
}